<blockquote>
  <p>FinTab - the accounting system for cryptocurrency portfolios. FinTab helps to analyze the financial state of portfolio, the yield on a particular currency, and the whole portfolio. We make the system for funds, traders and investors.</p>
  <footer><a href="https://fintab.io/" target="_blank">fintab.io</a></footer>
</blockquote>
