<blockquote>
  <p>MyBetterCoin is a useful coin! MYBET is an ERC20 token (See Smart Contract here). Only 21 million total supply. In our ICO we will sell 9 million. Tokens will be shared by withdrawal from the web, at the ICO end.</p>
  <footer><a href="https://mybettercoin.com/" target="_blank">mybettercoin.com</a></footer>
</blockquote>
