<blockquote>
  <p>Paypite is the cryptocurrency of the French speaking world. Aiming at dramatically reducing the cost of international money transfers, its purpose is also to “bank the unbanked” and accelerate business between French speaking people.</p>
  <footer><a href="https://paypite.org" target="_blank">paypite.org</a></footer>
</blockquote>
