<blockquote>
  <p>Verity Chain™ is the Blockchain system underlying Certified, Inc.’s VRTY Token and specializes in Brand Protection and Product Security. Our technology enables our customers to police their brands, prevent diversion, authenticate market supply, and easily identify counterfeiting. Verity Chain™ uses the Ethereum mapping method.</p>
  <footer><a href="http://veritychain.io" target="_blank">veritychain.io</a></footer>
</blockquote>
